apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: paperterrace
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      # Node A (192.168.10.122) affinity
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/hostname
                    operator: In
                    values:
                      - localA
                      - thinkpad
      containers:
        - name: backend
          image: paperterrace-backend:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: paperterrace-config
                optional: true
            - secretRef:
                name: paperterrace-secrets
                optional: true
          env:
            - name: REDIS_SERVER
              value: "redis" # K8s Service DNS
            - name: INFERENCE_SERVICE_URL
              value: "http://inference-service:8080" # K8s Service DNS
---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: paperterrace
spec:
  selector:
    app: backend
  ports:
    - port: 8000
      targetPort: 8080
