name = "paperterrace"
main = "src/index.ts"
compatibility_date = "2024-01-01"

# Workers configuration
workers_dev = true

# Environment variables (non-sensitive)
[vars]
BACKEND_TUNNEL_URL = "https://tunnel.paperterrace.page" # トンネルの裏口
ALLOWED_ORIGINS = "https://paperterrace.pages.dev,https://www.paperterrace.page,https://paperterrace.page,http://localhost:5173"


# Secrets (set via: wrangler secret put SECRET_NAME)
# - FIREBASE_PROJECT_ID
# - FIREBASE_CLIENT_EMAIL
# - FIREBASE_PRIVATE_KEY

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1
[env.dev]
name = "paperterracedevworker"
[env.dev.vars]
BACKEND_TUNNEL_URL = "https://dev-tunnel.paperterrace.page"
ALLOWED_ORIGINS = "https://paperterrace-dev.pages.dev,https://dev.paperterrace.pages.dev,http://localhost:5173"

[env.main]
name = "paperterrace"
[env.main.vars]
BACKEND_TUNNEL_URL = "https://tunnel.paperterrace.page"
ALLOWED_ORIGINS = "https://paperterrace.pages.dev,https://www.paperterrace.page,https://paperterrace.page,http://localhost:5173"
