# Terraform state and local files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
values.yaml

# Plan files
*.tfplan
tfplan

# Crash logs
crash.log
crash.*.log

# Sensitive variable files
*.tfvars
*.tfvars.json
!terraform.tfvars.example

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration
.terraformrc
terraform.rc

*.png